   <VirtualHost *:80>
    DocumentRoot "f:/wwwroot/masterlab/public"
    ServerName  masterlab.test
    <Directory />    
        Options Indexes FollowSymLinks
        AllowOverride All      
        Allow from All     
    </Directory>    
    <Directory "f:/wwwroot/masterlab/public">    
        Options  Indexes FollowSymLinks    
        AllowOverride All    
        Order allow,deny    
        Allow from All    
    </Directory> 
  </VirtualHost>